body{
    font-family: sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    min-height: 75px;
    background-color: cornflowerblue;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 75px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px ;
}

nav a:hover{
    color: white;
}

@media (max-width:700px){
    header{
    flex-direction:column;
    }

    nav{
        padding: 10px 0px;
    }

}

body{
    background-color: rgb(219, 185, 74);
}